Preppy/*.iml
Preppy/.gradle
Preppy/local.properties
Preppy/.idea/caches
Preppy/.idea/libraries
Preppy/.idea/modules.xml
Preppy/.idea/workspace.xml
Preppy/.idea/navEditor.xml
Preppy/.idea/assetWizardSettings.xml
Preppy/.DS_Store
Preppy/build
Preppy/captures
Preppy/.externalNativeBuild
